.center {
    margin-right: auto;
    margin-left: auto;
}

.login-header {
    background: #343a40;
    padding-bottom: 2.5%;
}

.login-form {
    position: relative;
    top: 5%;
}
.input-field input:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #343a40 !important;
}

/* label underline focus color */
.input-field input:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #343a40 !important;
    box-shadow: 0 1px 0 0 #343a40 !important;
}

