.Header {
    display: flex;
}

.btn {
    background-color: #9978C2;
    border: none;
    color: white;
    padding: 3px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    margin-top: 5px; 
	box-shadow: none !important;
}

.btn:active {
    background-color: #7851A9;
	outline: none !important;
	box-shadow: none;
}